body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('./images/photo-1459749411175-04bf5292ceea.avif') center center fixed; 
    background-size: cover;
    color: rgb(255, 255, 255); 
}

h1 {
    font-size: 75px;
    margin-bottom: 60px;
}

label {
    font-size: 25px;
}

select {
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button {
    padding: 11px 50px; 
    font-size: 20px;
    border-radius: 25px;
    margin-left: 60px;
    background: rgb(143, 233, 41); 
    color: #000000;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.5); 

}

.button-container1 {
    margin-left: 1100px;
    margin-top: 300px;
}

.button-container1 .button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
